  </div>

  <div style="padding:2em;text-align:center;background:#234979;color:white;clear:both;" id="footer_wrapper">
    The National Center for Biomedical Ontology is one of the
        <a href="http://www.ncbcs.org/">National Centers for Biomedical Computing</a> supported by the
        <a href="http://www.genome.gov/">NHGRI</a>, the
        <a href="http://www.nhlbi.nih.gov/">NHLBI</a>, and the
        <a href="https://commonfund.nih.gov/">NIH Common Fund</a> under grant U54-HG004028.<br/>

        Copyright &copy; 2005&#x2011;2014, The Board of Trustees of Leland Stanford Junior University. All rights reserved.<br/>

        <a title="NCBO" href="http://www.bioontology.org">NCBO Website</a>&nbsp;
        <a title="Release Notes" href="http://www.bioontology.org/wiki/index.php/BioPortal_Release_Notes">Release Notes</a>&nbsp;
        <a title="Terms of Use" href="http://www.bioontology.org/terms.html">Terms of Use</a>&nbsp;
        <a title="Privacy Policy" href="http://www.bioontology.org/privacy.html">Privacy Policy</a>&nbsp;
        <a title="Cite BioPortal" href="/help#How_to_cite_NCBO_and_BioPortal" class="pop_window" style="font-size:1em" target="_blank">How to Cite</a>
    <br/>
    <br/>
    <br/>    
  </div>
  
  <!-- If you're on IE6, go away -->
  <!--[if IE 6]>
  <script type="text/javascript" src="/javascripts/ie6notice.js"></script>
  <![endif]--> 
</body>
</html>
