<div id="hd_wrapper" style="overflow: hidden;">
  <div id="hd">
    <ul>
      <li style="padding-right: 30px;"><a href="/" title="Home" class="nav_logo"></a></li>
      <li class="nav_text "><a href="/ontologies" title="Browse">Browse</a></li>
      <li class="nav_text "><a href="/search" title="Search">Search</a></li>
      <li class="nav_text "><a href="/mappings" title="Mappings">Mappings</a></li>
      <li class="nav_text nav_text_active"><a href="/recommender" title="Recommender">Recommender</a></li>
      <li class="nav_text "><a href="/annotator" title="Annotator">Annotator</a></li>
      <li class="nav_text "><a href="/resource_index" title="Resource Index">Resource Index</a></li>
      <li class="nav_text "><a href="/projects" title="Projects">Projects</a></li>
    </ul>
  </div>
</div>
